---
layout: page
title: A propos
permalink: /about/
priority: 0.9

intro: |
  Architecte DPLG / Ingénieur / Consultant / Conférencier / Enseignant
  [Hub des Prescripteurs Bas Carbone](//www.ifpeb.fr/travaux/le-hub-des-prescripteurs-bas-carbone/) + [Unisson(s)](//unissons.eu/)
  
  J'ai passé une dizaine d’année comme architecte chez [Sophie Berthelier architecture](//sbbt-architecture.com/)
  à travailler sur de nombreux bâtiment en France, et j'ai ensuite rejoint le bureau d'études [Elioth by Egis](//elioth.com/) dans le pôle Environnements en 2013 dans lequel je suis devenu un des directeurs en 2021. 
  Spécialiste en construction, stratégie et innovation bas carbone, bioclimatisme, 
  modélisations et écologies urbaines, je participe activement à la décarbonation du monde du bâtiment
  auprès des architectes et des grandes maitrises d’ouvrages. J'ai par exemple travaillé sur des projets aussi complexes
  que la tour Montparnasse ou le nouveau siège social de l'ONF ou prospectifs comme l’étude [Paris Change d’ère](//paris2050.elioth.com/).
  
  J'ai rejoint l’[IFPEB](//www.ifpeb.fr/) et [A4MT](//a4mt.com/fr/) en 2023 pour continuer
  et prolonger mon expertise en portant le HUB des prescripteurs bas carbone, Unisson(s) et embarquer l’ensemble des acteurs du bâtiment dans la transition



profile_picture: /images/profile-pictures/profile.jpg

experience:
  - company: IFPEB et A4MT
    position: Consultant bas carbone	
    period: sept. 2023 - aujourd’hui 
  
  - company: Elioth, by Egis
    position: Directeur délégué
    period: sept. 2018 - juil. 2023
  
  - company: Ecole d'Architecture de Paris-Val-de-Seine
    position: Intervenant 2eme cycle L'architecture dans un monde en transition
    period: mars 2023 - aujourd’hui
  
  - company: SBBT Architecture
    position: Architecte
    period: 1999 - sept. 2013
  
  - company: École d'architecture de la ville & des territoires Paris-Est
    position: Enseignant DPEA PoCa Post-Cabone, Climats, Bioclimatique et Confort 
    period: août 2021 - aujourd’hui


education:
  - course: Architecte DPLG
    place: Ecole Nationale Supérieure d'Architecture Paris-Val
    period: 1997 - 2007

  - course: Ingénieur / Master 2 Mention Sciences et techniques des environnements urbains, Ambiances et formes urbaines
    place: Ecole d'Architecture de Nantes
    period: 2008 - 2009

  - course: Ingénieur / Master 2 Sciences et Technologies mention sciences de l'ingénieur, Acoustique Architecturale ACAR
    place: Université Pierre et Marie Curie
    period: 2005 - 2007

  - course: Qualité environnementale et developpement durable, architecture et environnement - la démarche HQE
    place: Formation Professionnelle
    period: 2008

skills:
  - Construction très bas carbone et design frugal
  - Innovations et inventions dans le domaine des énergies renouvelables
  - Urbanisme écologique
  - expertise climatique à l’échelle urbaine
  - stratégies d’atténuation carbone et 
  - Etudes d'adaptation au réchauffement climatique et résilience
  - Modélisations complexes
  - Design prospectif et architectures expérimentales
  - Conception d’enveloppe et stratégies énergie, climat et confort (lumière naturelle, ventilation naturelle, optimisation bioclimatique)

tools:
- Construction Bas Carbone in L'éléphant, juillet 2024
- ESTP_conférence du MS RBC Faut il encore construire ? février 2024
- SIMI 2023 - Productivité et performance des bâtiments, les défis des chantiers de réhabilitation
- Podcast Prisme(s), novembre 2021
- Vers une ville énergétiquement résiliente, L’exemple de la Dorsale Est de Paris, Programme de recherche Ignis Mutat Res, 2012-2018
- Menard R. et al., [Paris change d’ère](//https://paris2050.elioth.com/) 2016
- Colombert M. et al. "Integration of adaptation to climate change within the design process of urban planning projects - new tool(s) and new methodology(ies)", 2015


about_site: |
  - Modifié depuis le site de [Matt Grey](https://github.com/MattGreyDesign/himatt.com) (un grand merci !)

  - Toutes les infos en bas de [cette page](https://himatt.com/about/)

  - code opensource under the GNU General Public License v3 [Read more](https://raw.githubusercontent.com/Alliages/guillaume_meunier/main/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Guillaume Meunier",
    "url": "https://alliages.github.io/guillaume_meunier/",
    "sameAs": [
      "https://twitter.com/{{ site.social-username.twitter }}",
      "https://instagram.com/{{ site.social-username.instagram }}",
      "https://linkedin.com/in/{{ site.social-username.linkedin }}",
      "https://medium.com/{{ site.social-username.medium }}"
    ]
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Formations</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2"><a href="https://raindrop.io/guillaume_meunier/conferences-et-publications-39662315">Publications</a></h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Talents</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">A propos de ce site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>