---
layout: page
title: A propos
permalink: /about/
priority: 0.9

intro: |
  Architecte DPLG / Ingénieur / Consultant / Conférencier / Enseignant
  
  J'ai passé une dizaine d’année comme architecte chez [Sophie Berthelier architecture](//sbbt-architecture.com/)
  à travailler sur de nombreux bâtiment en France, et j'ai ensuite rejoint le bureau d'études [Elioth by Egis](//elioth.com/) dans le pôle Environnements en 2013 dans lequel je suis devenu un des directeurs en 2021. 
  Spécialiste en construction, stratégie et innovation bas carbone, bioclimatisme, 
  modélisations et écologies urbaines, je participe activement à la décarbonation du monde du bâtiment
  auprès des architectes et des grandes maitrises d’ouvrages. J'ai par exemple travaillé sur des projets aussi complexes
  que la tour Montparnasse ou le nouveau siège social de l'ONF ou prospectifs comme l’étude [Paris Change d’ère](//paris2050.elioth.com/).
  
  J'ai rejoint l’[IFPEB](//www.ifpeb.fr/travaux/le-hub-des-prescripteurs-bas-carbone/) et [A4MT](//a4mt.com/fr/) en 2023 pour continuer
  et prolonger mon expertise en portant le HUB des prescripteurs bas carbone, [Unisson(s)](//unissons.eu/) et embarquer l’ensemble des acteurs du bâtiment dans la transition



profile_picture: /images/profile-pictures/profile.jpg

experience:
- company: IFPEB + A4MT
position: Consultant bas carbone	
period: sept. 2023 - aujourd’hui 

- company: Elioth, by Egis
position: Directeur délégué
period: sept. 2018 - juil. 2023

- company: Ecole d'Architecture de Paris-Val-de-Seine
position: Intervenant 2eme cycle : L'architecture dans un monde en transition
period: mars 2023 - aujourd’hui

- company: SBBT Architecture
position: Architecte
period: 1999 - sept. 2013

- company: École d'architecture de la ville & des territoires Paris-Est
position: Enseignant DPEA PoCa Post-Cabone, Climats, Bioclimatique et Confort 
period: août 2021 - aujourd’hui



education:
  - course: Architecte DPLG
    place: Ecole Nationale Supérieure d'Architecture Paris-Val
    period: 1997 - 2007

  - course: Ingénieur/Master 2 Mention Sciences et techniques des environnements urbains, Ambiances et formes urbaines
    place: Ecole d'Architecture de Nantes
    period: 2008 - 2009
	
  - course: Ingénieur/Master 2 Sciences et Technologies mention sciences de l'ingénieur, Acoustique Architecturale "ACAR"
    place: Université Pierre et Marie Curie
    period: 2005 - 2007

  - course: Qualité environnementale et developpement durable, "architecture et environnement - la démarche HQE"
    place: Formation Professionnelle
    period: 2008
	

skills:
- Construction très bas carbone et design frugal 
- Innovations et inventions dans le domaine des énergies renouvelables 
- Urbanisme écologique, expertise climatique à l’échelle urbaine, stratégies d’atténuation carbone et adaptation au réchauffement climatique
- Design prospectif et architectures expérimentales
- Conception d’enveloppe et stratégies énergie, climat et confort (lumière naturelle, ventilation naturelle, optimisation bioclimatique, …)


tools:
- Intervention : Podcast Prisme(s), Batiradio : Pénurie des matériaux, épuisement des énergies, renouvellement des idées ?, novembre 2021
- Papier : RE 2020 : le CO2 change la donne, in Le Moniteur novembre 2021
- Hacking de l’hôtel de Ville 2020, intervenant « low-tech et la rétro innovation »
- EnerJ-Meeting 2020, intervenant table ronde CONSTRUIRE ET RÉNOVER LE BÂTIMENT « 2020 READY 2050 », publication « Revoir nos modes de conception pour viser la neutralité carbone »
- BIMSIDE 2019, Grand témoin
- Intervention pendant la journée Technomarket sur les systèmes constructifs – Le béton et le bois dans la RE2020
- Table Ronde FACADES2Build sur l’impact de la RE2020 sur les façades
- Cloud structures, The digital infrastructure behind data driven design, issue of september 2017 of Domus Magazine.
- Vers une ville énergétiquement résiliente, L’exemple de la Dorsale Est de Paris, Programme de recherche Ignis Mutat Res (BRAUP/MC/MEDDE/AIGP) dirigé par Jean-François Blassel, Avec l’École des Ponts ParisTech (laboratoire Navier) et l’Iffstar, 2012-2018
- Menard R. et al., Paris, change d’ère. Stratégie de neutralité carbone de Paris en 2050. Elioth, mandataire pour la Ville de Paris, 2016
- Menard R., La Renaissance des Fabriques. Un monde possible en 2050. 40p. Octobre 2015
- Colombert M., Gantois M., Jacquet L., Leseur A., Meunier G., Nassopoulos H., Salagnac J.-L. "Integration of adaptation to climate change within the design process of urban planning projects : new tool(s) and new methodology(ies)", ICUC9 - 9th International Conference on Urban Climate jointly with 12th Symposium on the Urban Environment, Toulouse (France), 20-24/07/2015
- Colombert M., Gantois M., Jacquet L., Leseur A., Meunier G., Nassopoulos H., Salagnac JL. "Integration of adaptation to climate change within the design process of urban planning projects : new tool(s) and new methodology(ies)", poster, Our Common Future Under Climate Change, International Scientific Conference, Paris (France), 07-10/07/2015
- Reforme, rapport final de l’équipe Reforme, programme de recherche Ignis Mutat Res - Penser l’architecture, la ville et les paysages au prisme de l’énergie-, 292 pages,  avril 2014
- Ciminieri D., Ménard R., Meunier G., Ciuccarelli P., Energetical streams visualization using interactive Sankey diagrams, ISGG, 16th international conference on geometry and graphics, 4-8 août 2014
- Meunier G., Multi-indicators framework for building analysis in early design stage : an effective sustainable design (non publié)
- Meunier G., La Conception Générée par Ordinateur (C.G.O.), 2007, Création d’une esquisse architecturale générée algorithmiquement.


about_site: |
  - Modifié depuis le site de Matt Grey (un grand merci !)
  [HiMatt](https://github.com/MattGreyDesign/himatt.com).

  - Toutes les infos en bas de [cette page](https://himatt.com/about/)

  - code opensource under the GNU General Public License v3.
  [Read more](https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Guillaume Meunier",
    "url": "https://alliages.github.io/guillaume_meunier/",
    "sameAs": [
      "https://twitter.com/{{ site.social-username.twitter }}",
      "https://instagram.com/{{ site.social-username.instagram }}",
      "https://linkedin.com/in/{{ site.social-username.linkedin }}",
      "https://medium.com/{{ site.social-username.medium }}"
    ]
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Competitions</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Colophon: about this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
