---
layout: page
title_override: Guillaume Meunier
redirect_from: /
permalink: /
priority: 1.0
thumbnail: "/guillaume-meunier_thumbnail.jpg"
---

<div class="projects-intro-wrapper">
  <p class="projects-intro type-level-1">Décarbonez !</p>
</div>

<div class="projects">
{% for project in site.projects limit:include.limit %}
  <article class="project-listing">
    <div class="thumbnail-wrapper">
      <a href="{{ project.lien }}">
        <div class="thumbnail-description-wrapper">
          <img src="{{ project.thumbnail | prepend: site.image_serve_path }}" alt="{{ project.title }}" width="600" height="450" {% if project.border %}style="border: 5px solid #EBBE3C;"{% endif %}>
          <p class="thumbnail-description">
            <span {% if project.border %}style="color:#EBBE3C;font-weight:bold;"{% endif %}>{{ project.description }}</span>
          </p>
        </div>
        <h3 aria-hidden="true">{{ project.title }}</h3>
      </a>
    </div>
  </article>
{% endfor %}
</div>
